 body {
      font-family: "Poppins", sans-serif;
      /* margin: 600px; */
    }
header{
    border-bottom: 1px solid;
    color: grey;
}
div h2{
    color: blue
}
.signup-small{
    border-radius: 50px;
    font-weight: bold;
    border: 0;
    padding: 10px 20px 10px 20px;
    background-color: blue;
    color: white
    
}
.signup-small:hover{
    transform: scale(1.1);
}

svg {
    width: 40px;
    height: 40px;
    color: grey
}
.menucontainer{
    display: flex;
    gap: 10px;
    
}
.navecontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
margin: 0 10px 0 10px;

}
.header {
  position: sticky;
  top: 0;
  background: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 100;
}

/* hero section */
.heroContainer {
  margin: 700px;
    display: flex;
    margin: 20px;
}
/* mobile image container */
.mobileimage-container{
    width: 100%;
    margin: 70px;
}

.imageone-container img {
    width: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px lightgray;
}

.imagetwo-container img {
    width: 200px;
    border-radius: 10px;
    margin-top: -500px;
    margin-left: 230px;
    box-shadow: 10px 10px 10px lightgray;
}
/* heading text container */
.headContainer {
    margin: 80px;
}


div span {
    font-size: 40px;
    margin: 0;
}


.email{
border: solid 1px;
color: grey;
padding: 10px;
margin-right: 200px;
border-radius: 10px;

}
.headContainer h5 {
font-weight: bold;
margin-top: 30px;
margin-bottom: 10px;
}
.headContainer p{
    margin-top: 10px;
}
.emailAddress{
    padding: 15px;
    border: solid 1px;
    color: grey;
    border-radius: 10px;

}
.signup-medium{
    padding: 15px 30px 15px 30px;
    background-color: blue;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 0;
    box-shadow: 1px 8px 15px rgb(100, 129, 190);
    font-weight: bold;
    
}
.signup-medium:hover{
    transform: scale(1.1);
}
 .emailContainer{
    display: flex;
    gap: 10px;
 }
 /* all six card with heading container */
 .coinContainer{
    padding: 50px;
    display: flex;
    height: 800px;
    background-color: #e9eff5;
 }
 /* heading container */
 .textContainer{
    width: 600px;
    padding: 250px 50px;
    
    
 }
 .textContainer span{
    font-size: 30px;
 }
.textContainer p{
    font-size: 25px;
}
.seemore-container{
    padding: 15px 20px 15px 20px;
    background-color: blue;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border: none;
        font-weight: bold;

}
/* six card container with button */
.card-container{
    margin: 70px 70px;
}
/* button container */
.tradable-button{
    padding: 15px 20px 15px 20px;
    background-color: rgb(24, 24, 25);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 0;
    font-weight: bold;
}
.topgainers-button{
    padding: 15px 20px 15px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50px;
    border: 0;
        font-weight: bold;

}
.cardbutton-container{
    display:flex;
    gap: 10px;
}
/* 6 card start here */
.bitcoin-ethereum-container{
    display: flex;
    gap: 20px;
}
.bitcoincard-container{
    width: 170px;
    height: 170px;
    border-radius: 20px;
    background-color: white;
    border: 1px rgb(227, 225, 225) solid;
    box-shadow: 6px 6px 10px rgb(230, 232, 241);
}
.bitcoin-content-container{
    padding: 20px;
}

.bitcoin-content-container img{
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

.bitcoin-content-container h4{
    margin: 0
}
.bitcoin-content-container p{
    margin: 0;
    margin-top: -3px;
    color: grey;
}

.arrowicon-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.arrowicon-container svg{
    width: 25px;
    height: 25;
    color: red;
}

.arrowicon-container h2{
    font-weight: lighter;
    color: red;
}


/* portfolio start */
.portfoliomain-container{
  padding: 50px;
    width: 1200px;
    height: 500px;
    display:flex;
    margin: 50px;
    
}

.emailcontent-container{
    width: 400px;
    margin: 10px;
}

.portfoliomain-container img{
    margin-left: 100px;
    width: 500px;
    height: 350px;
}

/* mobile landscape start */

.mobilelandscape-container{
    height: 500px;
    width: 100%;
    
    
}

.usdctexthalf-container{
    
    height: 300px;
    background-color: black;
    display: flex;
}

.usdctext-container{
    padding: 70px 50px;
    width: 40%;
    color: white;
    font-size: 30px;
}

.learnmorebutton-container p{
    color: white;
}
.learnmore{
    width: 130px;
    height: 50px;
    border: 0;
    border-radius: 50px;
}
.learnmorebutton-container{
    padding: 70px 50px;
}
.learnmore:hover{
    background-color: blue;
}

.fiveth{
  margin: 50px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.heading-2{
  font-size: 50px;
  color: rgb(10, 10, 10);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button1{
  padding: 15px 30px 15px 30px;
    background-color: blue;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 0;
    box-shadow: 1px 8px 15px rgb(100, 129, 190);
    font-weight: bold;
}
.sixeth{
   margin: 140px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.button2{
   padding: 15px 30px 15px 30px;
    background-color: blue;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 0;
    box-shadow: 1px 8px 15px rgb(100, 129, 190);
    font-weight: bold;
}

.seventh{
   margin: 140px;
  display: flex;
  justify-content: center;
  gap: 100px;
}
.button3{
   padding: 15px 30px 15px 30px;
    background-color: blue;
    color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 0;
    box-shadow: 1px 8px 15px rgb(100, 129, 190);
    font-weight: bold;
}
 .one{ 
  display: flex;
  align-items: center;
  gap: 10px;
  /* justify-content: center; */
} 